<!-- skip nav 
<div id="skip-nav">
  <a href="#container">본문 바로가기</a>
</div>-->
<!--// skip nav -->

<header class="header-wrap">
  <h1>
    <a href="../dashboard/index.html" class="logo"
      ><span class="hidden">Workflow+</span></a
    >
  </h1>

  <nav class="menu-list">
    <ul>
      <li>
        <a href="#"><i class="ico-dashboard"></i>Dashboard</a>
        <ul class="sub-list">
          <li><a href="#">All Status</a></li>
          <li><a href="#">Kanban</a></li>
          <li><a href="#">Calender</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="ico-menu"></i>Epic Ticket</a>
        <ul class="sub-list">
          <li><a href="#">Epic ticket list</a></li>
          <li><a href="#">Kanban</a></li>
          <li><a href="#">Calender</a></li>
          <li><a href="#">Create new</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="ico-menu-horizental"></i>Story Ticket</a>
        <ul class="sub-list">
          <li><a href="#">Story ticket list</a></li>
          <li><a href="#">Kanban</a></li>
          <li><a href="#">Calender</a></li>
          <li><a href="#">Create new</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="ico-contract"></i>Contract</a>
        <ul class="sub-list">
          <li><a href="#">All contract list</a></li>
          <li><a href="#">Create contract</a></li>
          <li><a href="#">Revenue share</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="ico-users"></i>Performance</a>
      </li>
      <li>
        <a href="#"><i class="ico-setting"></i>Setting</a>
        <ul class="sub-list">
          <li><a href="#">Epic type setting</a></li>
          <li><a href="#">Story workflow</a></li>
          <li><a href="#">Resource work type</a></li>
          <li><a href="#">Contract type table</a></li>
          <li><a href="#">Resource cost table</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="service-box">
    <a href="../mypage/index.html">
      <div class="img-box">
        <img src="../../images/temp/user.png" alt="" />
      </div>
      <dl>
        <dt>Anita Cruz</dt>
        <dd>anita@commerce.com</dd>
      </dl>
    </a>
    <i class="ico-menu"></i>
  </div>
</header>
