<!-- skip nav 
<div id="skip-nav">
  <a href="#container">본문 바로가기</a>
</div>-->
<!--// skip nav -->

<h1>
  <a href="../dashboard/index.html" class="logo"
    ><span class="hidden">Workflow+</span></a
  >
</h1>

<nav class="menu-list">
  <ul>
    <li>
      <a href="../dashboard/index.html"
        ><i class="ico-dashboard"></i>Dashboard</a
      >
      <!-- <ul class="sub-list">
        <li><a href="#">All Status</a></li>
        <li><a href="#">Kanban</a></li>
        <li><a href="#">Calender</a></li>
      </ul> -->
    </li>
    <li>
      <a href="#"><i class="ico-menu"></i>Epic Ticket</a>
      <ul class="sub-list">
        <li><a href="../epicTicket/list.html">Epic ticket list</a></li>
        <li><a href="../epicTicket/kanban.html">Kanban</a></li>
        <li><a href="../epicTicket/calender.html">Calender</a></li>
        <li><a href="../epicTicket/create.html">Create new</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="ico-menu-horizental"></i>Story Ticket</a>
      <ul class="sub-list">
        <li><a href="../storyTicket/list.html">Story ticket list</a></li>
        <li><a href="../storyTicket/kanban.html">Kanban</a></li>
        <li><a href="../storyTicket/calender.html">Calender</a></li>
        <li><a href="../storyTicket/create.html">Create new</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="ico-contract"></i>Contract</a>
      <ul class="sub-list">
        <li>
          <a href="../contractRevenue/contract.html">All contract list</a>
        </li>
        <li>
          <a href="../contractRevenue/detail_full.html">Create contract</a>
        </li>
        <li>
          <a href="../contractRevenue/revenue_share.html">Revenue share</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="ico-users"></i>User</a>
      <ul class="sub-list">
        <li><a href="../user/list.html">User setting</a></li>
        <li><a href="../user/performance.html">Performance</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="ico-setting"></i>Setting</a>
      <ul class="sub-list">
        <li><a href="#">Epic type setting</a></li>
        <li><a href="#">Story workflow</a></li>
        <li><a href="../setting/setting.html">Work type</a></li>
        <li><a href="#">Contract type table</a></li>
        <li><a href="#">Resource cost table</a></li>
      </ul>
    </li>
  </ul>
</nav>

<div class="service-box">
  <a href="../mypage/index.html">
    <div class="img-box">
      <img src="../../images/temp/user.png" alt="" />
    </div>
    <dl>
      <dt>Anita Cruz</dt>
      <dd>anita@commerce.com</dd>
    </dl>
  </a>
  <i class="ico-menu"></i>
</div>
