@charset "UTF-8";
@import "../common/variable", "../common/mixin";
.key {
  &-list {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 18px;

    .check-box {
      width: 14px;
    }

    .key-box {
      margin-left: 17px;
      overflow: hidden;
    }

    &.active {
      background-color: #eee5fe;
    }
  }

  &-box {
    font-size: 14.22px;
  }

  &-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-title {
    color: $CBrand3;
  }
}

.board-wrap {
  overflow-x: auto;

  .list {
    &-board {
      white-space: nowrap;

      li {
        display: inline-block;
        vertical-align: top;
        width: 243px;

        &:nth-child(n + 2) {
          margin-left: 16px;
        }
      }
    }

    &-title {
      margin-bottom: 12px;
      padding: 0 15px;
    }

    &-inner {
      min-height: 749px;
      padding: 15px 12px;
      border-radius: 8px;
      background-color: #f4f5f9;

      &-box {
        min-height: 143px;
        padding: 15px;
        border-radius: 8px;
        background-color: #ffffff;
        border: 1px solid #d2d2d2;

        &:nth-child(n + 2) {
          margin-top: 15px;
        }
      }
    }
  }

  .key-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-word;
    white-space: inherit;
    font-size: 12.64px;
    margin-top: 7px;
  }
}

.content-inbox-wrap {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 15px 22px;
  min-height: 143px;

  &:nth-child(n + 2) {
    margin-top: 15px;
  }

  .inbox {
    &-rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-key {
      margin-bottom: 7px;
      color: $CBrand3;
    }

    &-bot {
      margin-top: auto;
    }
  }

  .rating-state {
    color: $CBrand3;
    font-size: 12.64px;

    &.state-low {
      color: $CTsub;
    }

    &.state-high {
      color: $CRed;
    }
  }
}

.board {
  &-line-group {
    .board {
      &-group {
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
      }

      &-top {
        min-height: 63px;
        display: flex;
        padding: 0 30px;
        align-items: center;
        font-size: 18px;
        color: #000;
      }

      &-content {
        border-top: 1px solid #dbdcde;
      }

      &-box {
        padding: 25px;
        &:nth-child(n + 2) {
          border-top: 1px solid #dbdcde;
        }
      }
    }

    &.col2 {
      display: flex;
      justify-content: space-between;

      .board-group {
        width: calc((100% - 30px) / 2);
      }
    }
  }
}

.status-wrap {
  overflow-x: auto;
  position: relative;
  display: flex;
  margin-top: 30px;
  padding: 30px 30px;
  border: 1px solid $CLine2;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  justify-content: space-between;
  align-items: flex-start;
  .title-wrap {
    position: static;
    min-width: 165px;
    height: 100%;
    h2 {
      font-size: 20px;
      font-weight: 600;
    }
    .btn-help {
      position: absolute;
      bottom: 35px;
      left: 31px;
    }
  }
  dl {
    width: 100%;
    padding: 0 30px;
    border-right: 2px dashed $CLine2;
    text-align: left;
    &:last-child {
      border-right: 0;
      padding-right: 0;
    }
    dt {
      font-size: 600;
      white-space: nowrap;
    }
    dd {
      margin-top: 15px;

      &.status-score {
        font-size: 28px;
        color: $CTsub;
        font-size: 600;
        &.v2 {
          strong {
            color: $CRed;
          }
        }
        &.v3 {
          strong {
            color: $CTsub2;
          }
        }
        strong {
          color: $CBrand;
          font-size: 600;
        }
      }
      &.terms {
        font-size: 14px;
        color: $CTsub;
      }
    }
  }
}
@include inner-box {
}

@include mobile-ver {
}

@include tablet {
}

@include mobile-ver {
}

@include mobile {
}
