@charset "UTF-8";
@import "../common/variable", "../common/mixin";

.form-wrap {
  .form-group {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    .form-box {
      width: 48%;
    }
  }
  .form-box {
    width: 100%;
  }
  .ico-required {
    display: none;
  }
}

.tel-type {
  display: flex;
  justify-content: space-between;

  .input-type {
    width: 23%;

    & + .input-type {
      width: 75%;
    }
  }
}

.form-box {
  .form-label {
    margin-bottom: 12px;
    font-size: 14px;
  }
}
//checkbox,radio
.check-box {
  display: inline-block;
  margin-left: 24px;
  text-align: left;

  &:first-child {
    margin-left: 0;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }

  label {
    //display: inline-block;
    vertical-align: middle;

    > strong {
      margin-left: 4px;
      color: $CTsub2;
      font-weight: 500;
    }
  }

  .checkbox {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border: 2px solid $CTsub;
    background-color: #fff;
    border-radius: 5px;
  }

  input[type="checkbox"] {
    & + .checkbox {
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 5px;
        background-size: cover;
      }
    }

    &:checked ~ .checkbox {
      border-color: $CBrand;
      background-color: $CBrand;

      &:after {
        background-image: url("../images/icon/connect/check.svg");
      }
    }
  }

  input[type="radio"] {
    & + .checkbox {
      width: 14px;
      height: 14px;
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 5px;
        height: 5px;
        background-color: $CBrand;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 0.3s;
      }
    }

    &:checked ~ .checkbox:after {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &.selected {
    input[type="radio"] + .checkbox {
      &:after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &.invalid {
    .checkbox {
      border-color: $CRed;
    }
  }

  &.invalid {
    .checkbox {
      border-color: $CRed;
    }
  }
}

.select-type {
  display: inline-block;
  min-width: 130px;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }

  .nice-select {
    width: 100%;
    height: 46px;
    border-radius: 10px;
    border-color: $CLine;
    line-height: 46px;
    font-size: 14px;
    color: $CBrand;

    &:focus {
      border-color: $CBrand;
    }

    &:after {
      border-width: 2px;
      border-color: $CBrand;
    }

    .list {
      border: 1px solid $CBrand;
      box-shadow: 0;
      border-radius: 10px;
      transform: translateY(5px);

      .option {
        color: $CBrand;
        font-weight: 400;

        &:hover {
          background-color: $CBg;
        }

        &.selected {
          font-weight: 600;
        }
      }
    }
    &.open {
      .list {
      }
    }
  }

  &.up {
    .nice-select {
      .list {
        top: auto;
        bottom: 100%;
        transform-origin: 50% 100%;
        transform: translateY(21px);
      }

      &.open {
        .list {
          transform: translateY(0);
        }
      }
    }
  }

  &.invalid {
    .nice-select {
      border-color: $CRed;
      &:after {
        border-color: $CRed;
      }
    }
  }

  &.disabled {
    .nice-select {
      border-color: $CTsub3;
      color: $CTsub3;
      &:after {
        border-color: $CTsub3;
      }
    }
  }
  .option {
    &.selected {
      color: $CBrand;
    }
  }

  &.v2 {
    width: 100%;
    .nice-select {
      border: 1px solid $CLine2;
      background: #f4f5f9;
      .current {
        color: #89868d;
      }
      &:hover {
        border-color: $CBrand;
      }

      &:after {
        border-width: 2px;
        border-color: $CTsub;
      }
    }
  }

  &.v3 {
    .nice-select {
      height: 28px;
      line-height: 28px;
      border-radius: 3px;
      padding: 0 10px;
      border: 1px solid #f4f5f9;
      background: #f4f5f9;
      .current {
        color: #89868d;
      }

      &:hover {
        border-color: $CBrand;
        background-color: #fff;
      }
      &:after {
        display: none;
      }

      .list {
        padding: 0 5px;
        border-radius: 3px;
      }

      .option {
        padding: 0 4px;
        color: #000;
        line-height: 26px;
        min-height: 26px;
      }

      &.save {
        background-color: #fff;
        border: 0;
        padding: 0;

        .current {
          color: #000;
        }
      }
    }
  }
}

.input-type {
  position: relative;
  width: 100%;

  &.v2 {
    input {
      background: #f4f5f9;

      &:focus,
      &:hover {
        background: #f4f5f9;
      }
    }

    .msg {
      position: static;
    }
    &.invalid {
      .msg {
        display: block;
        margin-top: 5px;
        top: 0;
        left: 0;
      }
    }
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 21px;
    height: 18px;
    background-image: url(../images/icon/valid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
  }

  .msg {
    display: none;
    position: absolute;
    top: calc(100% - 10px);
    left: 15px;
    padding: 0 6px;
    background-color: #fff;
    font-size: 14px;
    letter-spacing: -0.5px;
  }

  &.valid,
  &.invalid {
    input {
      padding-right: 50px;
    }
  }

  &.invalid {
    input,
    input:focus {
      border: 1px solid $CRed;
    }

    .msg {
      display: inline-block;
      color: $CRed;
    }
    /*
		&::after {
			display: block;
			background-image: url(../images/icon/invalid.svg);
		}*/
  }

  &.small {
    input[type="text"] {
      padding: 0 15px;
      height: 28px;
      line-height: 28px;
      background: $CBg;
      border-radius: 3px;
      border-color: $CBg;
      color: $CTmain;
      &:focus {
        color: $CTmain;
      }
    }

    &.v2 {
      input[type="text"] {
        background: #f4f5f9;
        border-color: #f4f5f9;
        &:hover {
          background: #fff;
          border-color: #9d66fd;
        }
      }
    }
    &.save {
      input[type="text"] {
        background: #fff;
        border: 0;
        color: #000;
        padding: 0;
      }
    }

    &.active {
      input[type="text"] {
        background: #fff;
        border-color: #9d66fd;
      }
    }
  }

  &.medium {
    input[type="text"] {
      height: 40px;
      line-height: 40px;
      padding: 0 8px;
      font-size: 22.78px;
      background: #f4f5f9;
      border-radius: 5px;

      &:hover {
        background: #fff;
        border-color: #9d66fd;
      }
    }

    &.active {
      input[type="text"] {
        background: #fff;
        border-color: #9d66fd;
      }
    }
  }
}

.textarea-type {
  //overflow: hidden;
  position: relative;

  &::after {
    content: "";
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 21px;
    height: 18px;
    background-image: url(../images/icon/valid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
  }

  textarea {
    padding-right: 40px;
    padding-bottom: 40px;
    line-height: 1.5;
    border-color: $CBg;
    background-color: $CBg;
  }

  .msg {
    display: none;
    position: absolute;
    top: calc(100% - 10px);
    left: 15px;
    padding: 0 6px;
    background-color: #fff;
    font-size: 14px;
    letter-spacing: -0.5px;
  }

  .count {
    position: absolute;
    bottom: 18px;
    right: 20px;
    background-color: #fff;
    font-size: 16px;
    color: $CTsub2;

    em {
      color: #000;
      font-weight: 500;
    }
  }

  .placeholder-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 25px;
    font-size: 18px;
    color: $CTsub3;

    > strong {
      font-weight: 500;
    }

    .list-type {
      font-size: 18px;
      color: $CTsub3;

      li {
        &::before {
          background-color: $CTsub3;
        }
      }
    }
  }

  &.invalid {
    textarea {
      background-color: #fff;
      border-color: $CRed;
    }

    .msg {
      display: inline-block;
      color: $CRed;
    }

    .count {
      em {
        color: $CRed;
      }
    }
  }

  &.v2 {
    textarea {
      padding: 5px 8px;
      background-color: #f4f5f9;
      border-color: #f4f5f9;
      color: #000;

      &:hover {
        background-color: #fff;
        border-color: #c9aafe;
      }
    }

    .menu-editor {
      display: none;
    }

    &.active {
      border-radius: 8px;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);

      textarea {
        background-color: #fff;
      }

      .btn-type {
        width: 83px;
        margin-left: 5px;
        font-size: 14.22px;
      }

      .menu-editor {
        display: flex;
      }
    }

    &.save {
      textarea {
        background-color: #fff;
        border: 0;
      }
    }
  }

  .menu-editor {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      max-width: 715px;
    }
  }
}

.file-type {
  position: relative;
  display: inline-flex;
  width: 260px;
  height: 217px;
  border: 1px dashed $CBrand;
  border-radius: 10px;
  align-items: center;
  text-align: center;

  input[type="file"] {
    display: none;
    width: 100%;
    height: 60px;
    padding-right: 50px;
    background-color: $CBg;
    line-height: 60px;
    font-weight: 500;
  }

  input[type="file"]::file-selector-button {
    display: none;
  }

  .btn-file {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 67px;
    background: 0;
    text-align: center;
    color: $CTmain;
    font-size: 13px;

    em {
      color: $CBrand;
    }
  }

  .btn-clear {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.file-status-box {
  display: flex;
  align-items: center;
  width: 435px;
  height: 55px;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid var(--Stroke, #dbdcde);
  margin-bottom: 5px;

  &:hover {
    border: 1px solid var(--Stroke, $CBrand);
  }

  .ico-file {
    width: 35px;
    height: 35px;
  }
  .ico-trashcan {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 30px;
  }

  .file-content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 10px;
    width: 320px;

    .file-title {
      font-size: 12px;
      text-align: left;
    }
    .info-box {
      display: flex;

      span {
        font-size: 8px;
        color: grey;
        margin-right: 5px;
      }
    }
  }
}

.search-box {
  position: relative;
  .title-wrap2 {
    margin-bottom: 55px;
    text-align: center;
  }

  .select-type {
    &:nth-child(n + 2) {
      margin-left: 40px;
    }

    .nice-select {
      min-width: 130px;
      padding-bottom: 20px;
      padding-left: 10px;
    }

    & + .search-form {
      margin-left: 10px;
    }
  }

  .search-form {
    width: 100%;
    position: relative;
    .input-type {
      padding: 0 35px 0 20px;
    }

    .btn-search {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      align-items: center;
      justify-content: center;
      width: 46px;
      height: 46px;
      margin-left: 10px;
    }

    .btn-clear {
      position: absolute;
      top: calc(50% - 12px);
      right: 45px;
    }

    &.active {
      border-color: $CBrand;
    }
  }

  &.v2 {
    .input-type {
      border-radius: 30px;
    }
  }

  &.group {
    display: flex;
    justify-content: flex-start;
  }
  &.active {
    .search-list {
      display: block;
      opacity: 1;
    }
  }
  .search-list {
    display: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 53px;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 17px 9px 31px 9px;
    border: 1px solid $CLine2;
    border-radius: 10px;
    background-color: #fff;
    max-height:276px;
    overflow-y: scroll;
    
    ul {
      li {
        a {
          display: block;
          padding: 9px 10px 11px 10px;
          border-radius: 10px;
          &:hover {
            background-color: $CBg;
          }
          em {
            color: $CBrand3;
          }
        }
      }
    }
  }

  &.small {
    input[type="text"] {
      height: 28px;
      line-height: 28px;
      border-radius: 3px;
      padding: 0 10px;
      border: 1px solid #f4f5f9;
      background: #f4f5f9;
      &:hover {
        border-color: #6e39cb;
        background-color: #fff;
      }
    }

    .search-list {
      padding: 6px 4px;
      border-radius: 3px;
      font-size: 14.22px;
      top: 33px;

      ul li {
        a {
          padding: 4px 6px;
          border-radius: 3px;
        }
        p {
          display: inline-block;
          color: #000;
        }
      }
    }

    .info {
      color: #89868d;
      margin-right: 5px;
    }

    &.save {
      input[type="text"] {
        background-color: #fff;
        border: 0;
        color: #000;
        padding: 0;
      }

      .info {
        color: #89868d;
      }
    }
  }

  &.auto-list {
    &.type2 {
      .input-type {
        &.save {
          color: $CBrand3;
        }
      }
    }
  }
}

// dateRangePicker
.daterangepicker {
  .drp-calendar {
    min-width: 348px;
    &.left,
    &.right {
      padding: 24px;
    }
  }

  .calendar-table {
    table {
      border-top: none;
    }

    thead {
      tr:first-child {
        td,
        th {
          padding-bottom: 40px;
        }
      }
    }

    tbody {
      td {
        &:hover {
          color: #fff;
        }
        &.in-range {
          background-color: #be99fe;
          color: #fff;
        }

        &.active,
        &.active:hover {
          background-color: $CBrand3;
          color: #fff;
        }

        &.available:hover {
          background-color: $CBrand3;
          color: #fff;
        }
      }

      th {
        &.available:hover {
          background-color: $CBrand3;
          color: #fff;
        }

        &.month {
          color: $CBrand;
          font-size: 18px;
        }
      }
    }

    th,
    td {
      width: 39px;
      height: 27px;
      font-size: 15px;
      color: #333;
      padding: 0;
      font-weight: 500;
    }

    th {
      &.available {
        &:hover {
          background-color: inherit;
        }
      }

      &.month {
        color: #6e39cb;
      }
    }

    .start-date {
      border-radius: 3px 0 0 3px;
    }

    .end-date {
      border-radius: 3px 0 0 3px;
    }
  }

  &:after,
  &:before {
    display: none;
  }
}

.datepickerRange {
  &-wrap {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 3px;
    height: 28px;
    padding: 0 10px;

    .date {
      position: relative;
      z-index: 5;
      color: #b4b2b7;
      font-size: 14.22px;

      .ico-calendar {
        margin-right: 8px;
        vertical-align: middle;
      }

      &.end {
        margin-left: 17px;
        padding-left: 17px;
        border-left: 1px solid #bdbdbd;
      }
    }

    .datepickerRange-input {
      height: 100%;
      border-radius: 3px;
      padding: 0 10px;
      line-height: 28px;
    }

    // &.single-type {
    //   border-radius:3px;
    //   height: 28px;

    //   .datepickerRange-input {
    //     height: 28px;
    //     border-radius: 3px;
    //     padding: 0 10px;
    //     line-height: 28px;
    //   }
    // }

    &.multi-type {
      width: 260px;
      height: 46px;
      padding: 0 24px;

      .datepickerRange-input {
        // height: 46px;
        padding: 0 24px;
        border-radius: 10px;
      }
    }
  }

  &-box {
    display: flex;
    &.active {
      .date {
        color: #333;
      }
    }
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
  }
}
