@charset "UTF-8";
//Color

$CBrand: #6E39CB;  
$CBrand2: #A877FD;
$CBrand3: #9D66FD;
$CRed: #F93131;

$CLine: #9D66FD;
$CLine2: #DBDCDE;

$CTmain: #3A3541;
$CTsub: #89868D;
$CTsub2: #0062FF;
$CTsub3: #E0E0E0;

$CBg: #E7E7F4;
$CBg2: #D2D2D2;
$CBg3: #b4b2b7;
    
//Font
$font: NotoSansCJKkr, Lato, sans-serif;
$fontK: NotoSansCJKkr, sans-serif;

//innerBox
$inner: 1440px;
