@charset "UTF-8";
@import "../common/variable", "../common/mixin";

.login-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100%;
  background: $CBg;

  .login-box {
    width: 730px;
    padding: 90px 0;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  }

  .login-form {
    width: 330px;
    margin: 0 auto;
    text-align: center;
    dl {
      padding-bottom: 30px;
      dt {
        font-size: 26px;
        font-weight: 600;
      }
      dd {
        margin-top: 10px;
        color: $CTsub;
      }
    }
    .input-type {
      margin-top: 20px;
      text-align: left;
    }
    .btn-wrap {
      margin-top: 20px;
    }
    .btn-request {
      display: inline-block;
      margin-top: 25px;
    }
  }
}

#pop-account {
  .pop-wrap {
    width: 750px;
    .pop-contentbox {
      padding-top: 50px;
      padding-bottom: 34px;
      max-height: 95%;
      height: 100%;
    }
    h1 {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      & + p {
        margin-top: 15px;
        font-size: 14px;
        text-align: center;
      }
    }
    .user-box {
      display: flex;
      margin-top: 30px;
      .img-box {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: $CTsub;
        .ico-pen {
          position: absolute;
          bottom: 5px;
          right: 0;
        }
      }
      dl {
        margin-left: 26px;
        dd {
          margin-top: 5px;
          font-size: 14px;
          color: $CTsub;
        }
      }
    }
    .form-wrap {
      margin-top: 50px;
    }
    .btn-wrap {
      margin-top: 45px;
    }
  }
}
